<IfModule mod_rewrite.c>
    RewriteEngine on
    Options +FollowSymLinks
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteCond $1 !^(index\.php|(.*)\.swf|images|robots\.txt|css|docs)
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /application/errors/404.php
</IfModule>

